In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 1.5 MB/s eta 0:00:00a 0:00:01
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pandas]2m1/2 [pandas]
Successfully installed pandas-2.3.1 tzdata-2025.2

In [3]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('SPN.csv')
print(df)

   Episode              Title  Season    Air_Date  Rating             Monster
0        1              Pilot       1  2005-09-13     8.5      Woman in White
1        2            Wendigo       1  2005-09-20     8.2             Wendigo
2        3  Dead in the Water       1  2005-09-27     8.3   Drowned Boy Ghost
3        4   Phantom Traveler       1  2005-10-04     7.8  Demonic Possession
4        5        Bloody Mary       1  2005-10-11     8.4         Bloody Mary
5        6               Skin       1  2005-10-18     8.1        Shapeshifter
6        7           Hook Man       1  2005-10-25     7.9            Hook Man
7        8               Bugs       1  2005-11-08     7.5         Cursed Bugs
8        9               Home       1  2005-11-15     8.6         Poltergeist
9       10             Asylum       1  2005-11-22     8.3              Ghosts

In [10]:
df.head()

   Episode              Title  Season    Air_Date  Rating             Monster
0        1              Pilot       1  2005-09-13     8.5      Woman in White
1        2            Wendigo       1  2005-09-20     8.2             Wendigo
2        3  Dead in the Water       1  2005-09-27     8.3   Drowned Boy Ghost
3        4   Phantom Traveler       1  2005-10-04     7.8  Demonic Possession
4        5        Bloody Mary       1  2005-10-11     8.4         Bloody Mary

In [11]:
df.tail()

   Episode     Title  Season    Air_Date  Rating       Monster
5        6      Skin       1  2005-10-18     8.1  Shapeshifter
6        7  Hook Man       1  2005-10-25     7.9      Hook Man
7        8      Bugs       1  2005-11-08     7.5   Cursed Bugs
8        9      Home       1  2005-11-15     8.6   Poltergeist
9       10    Asylum       1  2005-11-22     8.3        Ghosts

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Episode   10 non-null     int64
 1   Title     10 non-null     object
 2   Season    10 non-null     int64
 3   Air_Date  10 non-null     object
 4   Rating    10 non-null     float64
 5   Monster   10 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 612.0+ bytes

In [13]:
print(df["Rating"].mean)

<bound method Series.mean of 0    8.5
1    8.2
2    8.3
3    7.8
4    8.4
5    8.1
6    7.9
7    7.5
8    8.6
9    8.3
Name: Rating, dtype: float64>